<table>
    <thead>
        <tr>
            <td>Department Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% @departments.each do |department|%>
        <tr>
            <td><%= department.name %></td>
            <td><%= link_to 'Edit', department_edit_path(department) %></td>
            <td><%= link_to 'Delete', department_delete_path(department) %></td>
        </tr>
        <% end %>
    </tbody>
    <td> <%= link_to 'Register New Department', department_new_url %></td>
</table>