<!DOCTYPE html>
<body>
    <%= link_to "Setup", setup_employees_url%>
    <%= link_to 'Personnels'%>
    <%= link_to 'Departments', department_index_url %>
    <%= link_to 'Company',   company_index_url %>
</body>