<style>

</style>

<div>
    <h1>Documents</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>File No</th>
                <th>Department</th>
                <th>Document From</th>
                <th>Amount</th>
                <th>Approval From</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>