<style>

</style>
<div class="document">
    <h1>Document Setup</h1>
    <div class="all-menu">
        <div class="movement">
            <h2>Movement</h2>
            <%= link_to "All Documents" , document_alldocuments_path %>
            <%= link_to "Pending Accept" , document_new_path %>
            <%= link_to "Pending Forward" , document_new_path %>
        </div>
        <%= link_to "New Document" , document_new_path %>
    </div>
</div>